{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-5">
    <div class="p-4 rounded-4 border bg-white">
      <h1 class="h5 mb-3">Admin Login</h1>
      <form method="post">
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input class="form-control" type="email" name="email" required placeholder="admin@company.com">
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input class="form-control" type="password" name="password" required placeholder="Password">
        </div>
        <button class="btn btn-dark w-100" type="submit">Sign in</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
